
body{
  font-size:calc(12px + 0.25vw);
  line-height:calc(22px + 1vw);
  color: black;
  font-family: roboto, sans-serif;
}
p{
  padding: 2%;
}
h1{font-size: 1.6em; line-height: calc(30px + 1vw);}
h2{font-size: 1.4em;line-height: calc(26px + 1vw);}
h3{font-size: 1.2em;line-height: calc(24px + 1vw);}

h1,h2,h3 {
  line-height: 1.2;
  margin: 0 0 20px 0;
  font-weight: 700;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  font-weight: 700;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: black;
}
.brand-title{
  margin:.5rem;
}
.navLinks ul{
  display: flex;
  margin: o;
  padding: 0;
}
.navLinks li{
  list-style: none;
}
.navLinks li a{
  text-decoration: none;
  color:black;
  padding: 1rem;
  display: block;
}
.navLinks li:hover{
  font-weight: 700;
}
/*toggle*/
.toggle-button{
position: absolute;
top: .75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
 background-color: black;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle-button{
    display: flex;
  }
  .navLinks {
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
}

.navLinks ul{
  width: 100%;
  flex-direction: column;
}

.navLinks li{
  text-align: center;
}

.navLinks li a {
  padding: .5rem 1rem;
}
/*SKILLS SECTION*/
 
.skills_container img{
  margin: 2%;
}
.navLinks.active{
  display: flex;
}
}
.heroContainer{
    display: flex;
    background-image: url(../Images/HeroIMGfade.png);
  background-repeat: no-repeat;
  background-size: contain;
  flex-wrap: wrap;
}
.textBox{
  flex: 5;
  width: 30%;
  margin-top: 26%;
  margin-left: 5%;
  margin-right: 5%;
  flex-basis: 200px;
 
}
.heroContainer img{
  flex: 5;
  margin-top: 5%;
  margin-left:5% ;
  margin-right: 5%;
  flex-basis: 200px;
 
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.skills_container{
  background-color:#D4D4D4;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 5%;
}
.research, .ui, .webDev{
flex: 10;
height: 100%;
flex-basis: 400px;
padding:5%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.research h3{
  text-align: center;
}


 
 
 
.jumbotron{
    background-color: #E4D2C8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
}
 
.left{
  flex: 10;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  margin: 5%;
 
}
.right{
  flex: 10;
    flex-basis:200px;
    margin: 5%;
 
}
 
.jumbotron_npo{
    background-color: #D9DCCC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
}
 
.jumbotron_roomie{
    background-color: #EAEFF3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
 
}
 
 
/*footer*/
 
footer{
  background-color:#D4D4D4;
    height: 300px;
  }
  .footerContent{
    display: flex;
    align-items: center;
    margin-top: 15%;
    justify-content: space-evenly;
 
  }
 
.footerLinks{
  display: flex;
  flex-direction: column;
}
.footerLinks a{
  margin-bottom: 14px;
}

.footerContent p {
  margin:0;
}
